.header {
    padding: 84px 30px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.title {
    color: rgb(78, 20, 140);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-left: 34px;
}

.logo {
    width: 100px;
    height: 80px;
}