@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');

}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v13-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v13-cyrillic_latin-700.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.page {
  display: flex;
  column-gap: 50px;
  padding: 0 15px;
}

a {
  text-decoration: inherit;
}



@media screen and (max-width:768px) {
  .page {
    justify-content: center;
  }

  .container {
    padding: 0 15px;
  }
}